<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IronHeartHQ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/datatables.css">
    <link rel="stylesheet" href="/static/css/admin/transaction.css">
</head>

<body>
    <%- include('../partials/admin/navbar.ejs',{user}) %>
    <div id="main">
        <h3 class="heading" style="margin: 25px 0;">User List</h3>
        <table id="userTable">
            <thead>
            <tr>
                <th>Index</th>
                <th>Registered On</th>
                <th>Commander Name</th>
                <th>Admin</th>
                <th>Wallet Balance</th>
                <th>Action</th>
            </tr>
            </thead> 
            <tbody>
            <% for(const [index,iUser] of allUsers.entries()) { %>
            <tr>
                <td><%=index+1%></td>
                <td><%=iUser.createdAt%></td>
                <td><%=iUser.name%></td>
                <td><%=iUser.admin?"Yes":"No"%></td>
                <td><%=iUser.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
                <td>
                    <% if(iUser.name !== user.name.toUpperCase()){%>
                    <a href="/admin/user/<%=iUser.id%>/toggleAdmin"><button>Toggle Admin</button></a>
                    <a href="/admin/user/<%=iUser.id%>/remove"><button>Remove</button></a>
                    <%}%>
                </td>
            </tr>
            <%}%>
            </tbody>    
        </table>

    </div>
    <%- include('../partials/footer.ejs') %>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/admin/transaction.js"></script>
    <script src="/static/js/fontawesome.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script defer> 
        $(document).ready( function () {
            $('#userTable').DataTable({
                "iDisplayLength": 25
            });
            $('#transactionTable').DataTable({
                "iDisplayLength": 25,
                order: [[0, 'desc']],
            });
        } );
    </script>
</body>

</html>